.paginate{
    display: flex;
}
.pagesBlock{
    padding: 6px;
    margin:10px 0 ;
}
.pageNo{
    font-size: 20px;
    font-weight: 500;
    padding: 6px 14px;
    border: 2px solid rgb(134, 133, 133);
    cursor: pointer;
}